@import '@fontsource-variable/inter';
@tailwind base;
@tailwind components;
@tailwind utilities;

code {
	counter-reset: step;
	counter-increment: step calc(var(--start, 1) - 1);
}

code .line:not(:last-child)::before {
	content: counter(step);
	counter-increment: step;
	width: 1rem;
	margin-right: 1.5rem;
	display: inline-block;
	text-align: right;
	color: rgba(115, 138, 148, 0.4);
}
